alive-progress
Pillow
PyDrive
PyPDF2
aiofiles
aiohttp
aria2p
asyncio
beautifulsoup4
cfscrape
coffeehouse
convertdate
covid
cryptg
deezloader
emoji
feedparser
google-api-python-client
google_images_download
googletrans
gtts
hachoir
httplib2==0.15.0
humanize
hurry.filesize
langdetect
lxml
mtranslate
oauth2client
pathlib
patool
psutil
psycopg2
pySmartDL
pydownload
pysocks
python-barcode
python-magic
pytube3
qrcode
regex
remotezip
requests
schedule
selenium
setuptools
spamwatch
speedtest-cli
spotify_token
sqlalchemy
telegraph
textblob
tgcrypto
typing
unicode_tr
urbandict
urllib3
wget
wikipedia
youtube-dl
PyLyrics 
soundcloud-lib
# gitpython
# aioschedule
# alive_progress
# apscheduler
# pymongo 
# dnspython
# pylast
# attrs
# idna
# pyaes
# pycares
# pycparser
# rsa
# yarl
# cchardet
# brotlipy
# async-timeout
# aiodns
# tdk
# wikipedia-api
# tdk-fetch
